.menu_full {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(255, 255, 255, 0.1);
  position: relative;
  width: 1200px;
  margin: 20px auto;
  height: 50px;
}

.menu_item_full {
  color: white;
  height: 40px;
  font-size: 14px;
  padding: 0 15px;
  transition: all 0.5s;
}

.divider_full {
  background-color: deepskyblue;
  position: absolute;
  height: var(--height);
  width: var(--width);
  left: var(--left);
  z-index: -1;
  border-radius: 3px;
  padding: 10px;
  transition: all 0.3s;
}

.active {
  color: black;
}
