.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgb(255, 255, 255, 0.1);
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.menu_item {
  color: white;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
}

.divider {
  height: 2px;
  background-color: deepskyblue;
  position: absolute;
  bottom: 0;
  left: var(--left);
  width: var(--width);
  transition: all 0.3s;
  border-radius: 3px 3px 0 0;
}
